@model IEnumerable<Weather.Models.WeatherViewModel>
@{
    ViewBag.Title = "Manage";
}

<table class="table table-hover">
    @foreach (var weather in Model)
    {
       @Html.DisplayFor(w => weather, "DailyWeatherList");
    }
</table>