@model Weather.Models.Localization


<h2>Czy na pewno chcesz zaktualizować pogodę w lokalizacji: @Model.Name</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Aktualizuj" class="btn btn-default active" aria-pressed="true" /> |
    </div>
}